# Simula demoras nas consultas
SIMULATE_WAIT_IN_MS=2000

# Támanho máximo para uploads de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=100000

# Pasta onde uploads de imagens são salvos
IMAGE_UPLOAD_DIRECTORY=static

# URL completa do servidor de imagens
IMAGE_SERVER_URL = 'http://domain/static'

